<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688499823351-rnlj0pfbngajc7eqfh464924andsupin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688499823351-rnlj0pfbngajc7eqfh464924andsupin</string>
	<key>API_KEY</key>
	<string>AIzaSyA2gX3oNmYrQWkxx_piaYXUwMaSgvV6vSA</string>
	<key>GCM_SENDER_ID</key>
	<string>688499823351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dinder</string>
	<key>PROJECT_ID</key>
	<string>dinder-app1</string>
	<key>STORAGE_BUCKET</key>
	<string>dinder-app1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688499823351:ios:68186fd7a27efbb408f9f2</string>
</dict>
</plist>